* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: roboto;
  src: url(./assets/Roboto-Regular.ttf);
}
body {
  color: white;
  background: #191919;
  font-family: roboto;
}
ul {
  list-style-type: none;
}
section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 20vh;

}
.header {
  background-color: #454F59;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6vh;
}
.pages {
  display: flex;
  margin-left: 2rem;
  gap: 2rem;
  font-size: 1.2rem;
  font-weight: bold;
}
.links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-right: 2rem;
}
.gitHub {
  height: 33px;
}
.linkedIn {
  height: 40px;
}
.footer {
  background-color: #454F59;
}
.home {
  min-height: 100vh;
}
.about {
  background: #232D3F;
  min-height: 120vh;
}
.contact {
  background: #1D2125;
}
.wave1{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.wave1 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.wave1 .shape-fill {
  fill: #232D3F;
}

.wave2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.wave2 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 180px;
}

.wave2 .shape-fill {
  fill: #1D2125;
}
.button {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1;
  margin: 3rem;
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 5rem;
  height: 3rem;
  width: 3rem;
}
button:hover {
  cursor: pointer;
}
button {
  background: white;
  border: none;
}
.name {
  margin-top: 30vh;
  text-align: center;
  font-size: 40px;
}
span {
  color: rgb(98, 98, 236);
}
.textContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 40vw;
  margin-left: auto;
  margin-right: auto;
  font-size: 19px;
  margin-bottom: 100px;
}
.textContainer h1 {
  font-size: 50px;
  margin-bottom: 20px;
}
.textContainer p {
  margin: 20px;
  text-align: justify;
}
.textContainer a {
  margin-bottom: 50px;
}
.projectContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
}
.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
}
.project img {
  margin-top: 25px;
  margin-bottom: 25px;
  width: 500px;
  border-radius: 10px;
}
.contact h1 {
  font-size: 50px;
}
.header a {
  text-decoration: none;
  color: white;
}
.resume {
  text-decoration: underline;
  color: white;
}
.email, .phone {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.contactContainer img {
  width: 25px;
}